---
layout: base
---

<section class="sidebar">
  <div class="wrapper">
    <div class="row">
      <aside class="col span-3 toc-nav" role="complementary">
        <header>
          <h1 class="h3 nav-toggle">Contents</h1>
          <span class="search-toggle ir">Search</span>
        </header>
        <nav role="navigation">
          <ol>
            {% if page.url contains '/guides/' %}
              {% assign guides = site.guides | sort:"order" %}
              <li>
                <h2>Getting Started</h2>
                <ol>
                  {% for guide in guides %}
                      <li id="{{ guide.title }}"><a href="{{guide.url}}" {% if page.url == guide.url %} class="active"{% endif %}>{{guide.title}}</a></li>
                  {% endfor %}
                </ol>
              </li>
            {% endif %}
          </ol>
        </nav>
      </aside>
      <article class="content col span-9" role="main">
        <h1>{{ page.title }}</h1>
        {{ content }}
        {% include contribute.html %}
      </div>
      </article>
    </div>
  </div>
</section>

<script>
  console.log("{{ page.title }}")

  const article = document.getElementsByTagName("article")[0]
  let headers = []
  article.querySelectorAll("h3, h2").forEach(v => {
    headers.push(v)
  })
  headers = headers.sort(function(a, b) {
    return -a.compareDocumentPosition(b)
  })

  console.log(headers)

  for (let h of headers) {
    const navItem = document.getElementById("{{ page.title }}");
    const newNode = document.createElement("li");
    const link = document.createElement("a")
    link.href = "#" + h.id
    link.className = "sidebar-toc-h2"
    link.innerHTML = h.innerHTML
    newNode.appendChild(link)

    navItem.parentNode.insertBefore(newNode, navItem.nextSibling)
  }


  // console.log(content.getElementsByTagName("h1"))
  // const headers = content.querySelectorAll("h1, h2");
  // console.log(headers)
</script>
