# Site settings
title: Lingo Developers
email: info@lingoapp.com
url: https://developer.lingoapp.com
github_repo: https://github.com/TheNounProject/LingoJS/
show_dir_listing: false
encoding: utf-8

# Build settings
incremental: true
kramdown:
  input: GFM
  auto_ids: true
  smart_quotes:   lsquo,rsquo,ldquo,rdquo
  syntax_highlighter: rouge

plugins:
  - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll-paginate

plugins:
  - jekyll-redirect-from

# jekyll-paginate
paginate: 5
paginate_path: "/blog/page:num/"

sass:
  style: compressed

exclude:
  - node_modules
  - gulpfile.js
  - package.json
  - .sass-cache
  - README.md
  - CNAME
  - Gemfile
  - Gemfile.lock
  - DEVNOTES.md

# Dynamic Content
collections:
  rest:
    output: true
  guides:
    output: true
    permalink: /guides/:path/
  posts:
    output: true
    permalink: /blog/:path/
  lingojs:
    output: false

# Defaults
defaults:
  -
    scope:
      path: ""
    values:
      layout: "single-page"
  -
    scope:
      type: "guides"
    values:
      layout: "sidebar-page"
      script: "/js/search.js"
  -
    scope:
      type: "posts"
    values:
      layout: "post"
