<footer
  class="main-footer {% if include.slate %} slate{% endif %}"
  role="contentinfo"
>
  <div class="wrapper">
    <nav>
      <small>&copy; {{ "now" | date: "%Y" }} Lingo™</small>
      <ul role="navigation">
        <li>
          <a href="https://www.lingoapp.com/">Lingo Home</a>
        </li>
        <li>
          <a href="https://github.com/lingo-app">GitHub</a>
        </li>
        <li>
          <a href="https://twitter.com/lingo_app">Twitter</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
