<header class="main-nav {% if include.slate %} slate{% endif %}">
  <div class="wrapper">
    <nav role="navigation">
      <div class="logo">
        {% include logo.html %}
      </div>
      <span class="nav-toggle">Menu</span>
      <ul>
        <li>
          <a href="/guides/" {% if page.url contains '/guides/' %} class="active" {% endif %}>Guides</a>
        </li>
        <li>
          <a href="/rest/" {% if page.url contains '/rest/' %} class="active" {% endif %}>Rest API</a>
        </li>
        <li>
          <a href="/lingojs/" {% if page.url contains '/lingojs/' %} class="active" {% endif %}>LingoJS</a>
        </li>
        <li>
          <a href="/resources/" {% if page.url contains '/resources/' %} class="active" {% endif %}>Resources</a>
        </li>
        <li>
          <a href="/blog/" {% if page.url contains '/blog/' %} class="active" {% endif %}>Blog</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
