.highlighter-rouge {
  margin-bottom: 1rem;
}
.highlight pre,
pre,
.highlight .hll,
.highlight code {
  background-color: $background-white;
}
.highlight .c {
  color: $text-dark;
  font-style: italic;
}
.highlight .err {
  color: $color-primary;
  background-color: $color-primary-8;
}
.highlight .k {
  font-weight: $font-semibold;
}
.highlight .o {
  font-weight: $font-semibold;
}
.highlight .cm {
  color: $text-dark;
  font-style: italic;
}
.highlight .cp {
  color: $text-dark;
  font-weight: $font-semibold;
}
.highlight .c1 {
  color: $text-dark;
  font-style: italic;
}
.highlight .cs {
  color: $text-dark;
  font-weight: $font-semibold;
  font-style: italic;
}
.highlight .gd {
  color: $text-dark;
  background-color: $color-primary-8;
}
.highlight .gd .x {
  color: $text-dark;
  background-color: $background-light;
}
.highlight .ge {
  font-style: italic;
}
.highlight .gr {
  color: $color-primary2;
}
.highlight .gh {
  color: $text-dark;
}
.highlight .gi {
  color: $text-dark;
  background-color: #ddffdd;
}
.highlight .gi .x {
  color: $text-dark;
  background-color: $sk-teal-2;
}
.highlight .go {
  color: $text-dark;
}
.highlight .gp {
  color: $text-dark;
}
.highlight .gs {
  font-weight: $font-semibold;
}
.highlight .gu {
  color: $sk-purple6;
  font-weight: $font-semibold;
}
.highlight .gt {
  color: $color-primary;
}
.highlight .kc {
  font-weight: $font-semibold;
}
.highlight .kd {
  font-weight: $font-semibold;
}
.highlight .kn {
  font-weight: $font-semibold;
}
.highlight .kp {
  font-weight: $font-semibold;
}
.highlight .kr {
  font-weight: $font-semibold;
}
.highlight .kt {
  color: $sk-purple8;
  font-weight: $font-semibold;
}
.highlight .m {
  color: $sk-green2;
}
.highlight .s {
  color: $color-primary;
}
.highlight .n {
  color: $text-dark;
}
.highlight .na {
  color: $sk-green4;
}
.highlight .nb {
  color: $sk-blue2;
}
.highlight .nc {
  color: $sk-purple8;
  font-weight: $font-semibold;
}
.highlight .no {
  color: $sk-green4;
}
.highlight .ni {
  color: $sk-purple4;
}
.highlight .ne {
  color: $color-primary;
  font-weight: $font-semibold;
}
.highlight .nf {
  color: $color-primary;
  font-weight: $font-semibold;
}
.highlight .nn {
  color: $text-dark;
}
.highlight .nt {
  color: $color-primary2;
}
.highlight .nv {
  color: $sk-green4;
}
//.highlight .nx { color: $text-dark; }
.highlight .ow {
  font-weight: $font-semibold;
}
.highlight .w {
  color: #bbbbbb;
}
.highlight .mf {
  color: $sk-green2;
}
.highlight .mh {
  color: $sk-green2;
}
.highlight .mi {
  color: $sk-green2;
}
.highlight .mo {
  color: $sk-green2;
}
.highlight .sb {
  color: $color-primary;
}
.highlight .sc {
  color: $color-primary;
}
.highlight .sd {
  color: $color-primary;
}
.highlight .s2 {
  color: $color-primary;
}
.highlight .se {
  color: $color-primary;
}
.highlight .sh {
  color: $color-primary;
}
.highlight .si {
  color: $color-primary;
}
.highlight .sx {
  color: $color-primary;
}
.highlight .sr {
  color: $sk-green2;
}
.highlight .s1 {
  color: $color-primary;
}
.highlight .ss {
  color: $sk-purple4;
}
.highlight .bp {
  color: $text-dark;
}
.highlight .vc {
  color: $sk-green4;
}
.highlight .vg {
  color: $sk-green4;
}
.highlight .vi {
  color: $sk-green4;
}
.highlight .il {
  color: $sk-teal4;
}
.highlight .gc {
  color: $text-dark;
  background-color: $background-light;
}

//Table styles (for blocks of code with line numbers)
.highlight table {
  //border-collapse: separate;
  border-radius: $radius-normal;
  border: 1px solid $border-dark-high;
  width: 100%;
}

.highlight table,
.highlight tbody {
  display: block;
}

.highlight tr {
  display: flex;
  width: 100%;
}

.highlight .gutter.gl {
  padding: 1rem;
  background: #fbfbfb;
  border-right: 1px solid $divider-dark;
  -webkit-user-select: none;
  user-select: none;
}

.highlight .gutter.gl pre {
  color: $text-dark;
  background: transparent;
}

.highlight td.code {
  width: calc(100% - 4.5rem);
  flex: 1 0 0;
  position: relative;
}

.highlight td.code::after {
  content: "";
  width: 1rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    90deg,
    rgba($background-white, 0),
    $background-white
  );
}

.highlight td.code pre {
  padding: 1rem;
  white-space: pre;
  overflow-wrap: inherit;
  overflow-x: auto;
}
